@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:  #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color:  #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#hero{
    background-image: url("images/hero.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
   padding-bottom: 15px;   
}

#hero h1{
    color: #088178;
}

#hero button{
    padding: 15px 30px;
    border: none;
    background: #088178;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#produto1{
    text-align: center;

}

#produto1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#produto1 .pro{
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#produto1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#produto1 .pro img{
    width: 100%;
    border-radius: 20px;

}

#produto1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#produto1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#produto1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#produto1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#produto1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/leve2.png");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("images/personagens.png");
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}



#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("images/ecobag.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("images/tshirts.png");
}

#banner3 .banner-box3{
    background-image: url("images/banner.jpg");
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #fff;
    font-weight: 800;
    font-size: 15px;
}

#noticia{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#noticia h4{
    font-size: 22px;
    font-weight: 600;
    color: #818ea0;
}

#noticia p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#noticia .form{
    display: flex;
    width: 40%;
}

#noticia input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#noticia button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin:  0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .redes{
    margin-top: 20px;
}

footer .redes i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .col.pagamento img{
    width: 70px;
    height: auto;
    margin-top: 10px;
}

footer .redes i:hover,
footer a:hover{
    color:#088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#page-header{
    background-image: url("images/bannerLoja.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#paginacao{
    text-align: center;
}

#paginacao a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#paginacao a i{
    font-size: 16px;
    font-weight: 600;
}

#produto-detalhes{
    display: flex;
    margin-top: 20px;
}

#produto-detalhes .img-prod-unica{
    width: 40%;
    margin-right: 50px;
}

.img-grupo{
    display: flex;
    justify-content: space-between;
}

.img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#produto-detalhes .detalhes-pro-unico{
    width: 50%;
    padding-top: 30px;
}

#produto-detalhes .detalhes-pro-unico h4{
    padding: 40px 0 20px 0;
}

#produto-detalhes .detalhes-pro-unico h2{
    font-size: 26px;
}

#produto-detalhes .detalhes-pro-unico select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#produto-detalhes .detalhes-pro-unico input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#produto-detalhes .detalhes-pro-unico input:focus{
    outline: none;
}

#produto-detalhes .detalhes-pro-unico button{
    background: #088178;
    color: #fff;
}

#produto-detalhes .detalhes-pro-unico span{
    line-height: 25px;
}

#page-header.sobre-header{
    background-image: url("images/bannerSobre.png");
    background-position: center;
}

#sobre-head{
    display: flex;
    align-items: center;
}

#sobre-head img{
    width: 50%;
    height: auto;
}

#sobre-head div{
    padding-left: 40px;
}

#sobre-app{
    text-align: center;
}

#sobre-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#sobre-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#detalhes-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#detalhes-contato .detalhes span,
#detalhes-form form span {
    font-size: 12px;
}

#detalhes-contato .detalhes h2,
#detalhes-form form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#detalhes-contato .detalhes h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#detalhes-contato .detalhes li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#detalhes-contato .detalhes li i{
    font-size: 14px;
    padding-right: 22px;
}

#detalhes-contato .detalhes li p{
    margin: 0;
    font-size: 14px ;
}

#detalhes-contato .map {
    width: 55%;
    height: 400px;
}

#detalhes-contato .map iframe{
    width: 100%;
    height: 100%;
}

#detalhes-form{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#detalhes-form form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

#detalhes-form form input,
#detalhes-form form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}

#detalhes-form form button{
    background-color: #088178;
    color: #fff;
}
#carrinho{
    overflow-x: auto;
}

#carrinho table{
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;    
}
#carrinho table img{
    width: 70px;
}

#carrinho table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#carrinho table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#carrinho table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#carrinho table td:nth-child(4),
#carrinho table td:nth-child(5),
#carrinho table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#carrinho table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#carrinho table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#carrinho table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#carrinho table tbody tr td{
    padding-top: 15px;
}

#carrinho table tbody td{
    font-size: 13px;
}

#carrinho-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cupom{
    width: 50%;
    margin-bottom: 30px;
}

.cupom h3,
#subtotal h3{
    padding-bottom: 15px;
}
.cupom input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

.cupom button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #produto1 .pro-container{
        justify-content: center;
    }
    #produto1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #noticia .form{
        width: 70%;
    }

    #detalhes-form{
        padding: 40px;
    }
    #detalhes-form form{
        width: 50%;
    }
}

@media (max-width:477px){
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #sm-banner .banner-box{
        height: 25vh;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    .section-p1{
        padding: 20px 40px;
    }
    #produto1 .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #noticia{
        padding: 40px 20px;
    }
    #noticia .form{
        width: 100%;
    }
    #footer .copyright{
        text-align: start;
    }

    #produto-detalhes{
        display: flex;
        flex-direction: column;
    }
    #produto-detalhes .img-prod-unica{
        width: 100%;
        margin-right: 0px;
    }
    #produto-detalhes .detalhes-pro-unico{
        width: 100%;
        
    }

    #sobre-head{
        flex-direction: column;
    }
    #sobre-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #sobre-head div{
        padding-left: 0px;
    }
    #sobre-app .video{
        width: 100%;
    }

    #detalhes-contato{
        flex-direction: column;
    }
    #detalhes-contato .detalhes{
        width: 100%;
        margin-bottom: 30px;
    }
    #detalhes-contato .map{
        width: 100%;
    }
    #detalhes-form{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #detalhes-form form{
        width: 100%;
        margin-bottom: 30px;
    }

    #carrinho-add{
        flex-direction: column;
    }
    .cupom{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }











    




}
